.main {
  background-color: color(cat-laws);
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.pile-view {
  width: 100%;
  max-width: 560px;
  padding: dm(2);
}

.inner {
  width: 100%;
}

.overview-view {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 1024px;
  overflow-y: scroll;
}

.branding {
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: clamp(dm(3), 5vh, dm(6));
  opacity: 0.3;
  transition: opacity 0.3s;

  &:hover {
    opacity: 0.5;
  }

  img {
    width: 110px;
    height: 30px;

    @include breakpoint(s) {
      width: 132px;
      height: 36px;
    }
  }
}
