.main {
  background-color: color(cat-laws);
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: dm(2);
  overflow: hidden;
}

.inner {
  width: 100%;
  max-width: 560px;
}

.branding {
  position: absolute;
  bottom: clamp(dm(3), 5vh, dm(6));
  opacity: 0.3;
  transition: opacity 0.3s;

  &:hover {
    opacity: 0.5;
  }

  img {
    width: 110px;
    height: 30px;

    @include breakpoint(s) {
      width: 132px;
      height: 36px;
    }
  }
}
