* {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}

body {
  font-family: 'Radikal', sans-serif;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;

  @include breakpoint(m) {
    overscroll-behavior: none;
  }
}
